<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="10">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="(%d) %-5p %-15t (%F:%L) %m%n"/>
        </Console>
        <Console name="TEST_STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="de.mm65.github.timezone.VeryBasicTest" level="info" additivity="false">
            <AppenderRef ref="TEST_STDOUT"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
